.timetable {
  
  &__wrapper {
    @apply mt-10;
  }

  &__group {
    @apply grid grid-cols-1 border border-gray-500 p-4 mb-10;

    @screen lg {
      @apply grid-cols-2 gap-4 mb-12;
    }

    &__title {
      @apply flex justify-between bg-gray-900 text-white text-lg p-4;

      &__sub {
        @apply ml-2 font-light;
      }
    }

    &.--variant {
      @apply opacity-50;

      .timetable {
        
        &__group {

          &__title {
            
          }
        }
      }
    }

    &.--passed {
      @apply opacity-30;
    }
  }

  &__children {
    @apply font-mono -mb-4 mt-4;

    @screen lg {
      @apply mt-0;
    }
  }

  &__child {
    @apply flex flex-col items-baseline mb-8;

    @screen md {
      @apply flex-row mb-4;
    }

    &__summary {
      @apply w-full font-medium;

      @screen md {
        @apply w-1/2;
      }

      @screen lg {
        @apply w-full pl-8;
      }
    }

    &__date {
      @apply flex flex-row items-center w-full whitespace-no-wrap text-xs;

      @screen md {
        @apply w-1/2 text-base;
      }

      @screen lg {
        @apply w-auto;
      }

      &__icon {
        @apply w-6 mx-4 overflow-hidden;

        @screen lg {
          @apply w-20;
        }
      }

      span {
        @apply ml-8 text-gray-800 font-light;
      }
    }

  }
}

.--dark {

  .timetable {

    &__group {

      &.--variant {

        @apply text-primary-600;
      }
    }
  }
}