.cta {
  @apply flex mx-auto no-underline;

  &__button {
    @apply 
      px-8
      py-3 

      rounded-sm
      bg-white 
      text-secondary-600
      font-medium
      font-mono
      border
      border-secondary-300
      border-dashed
      duration-150;

    &:hover {
      @apply bg-primary-100 text-primary-700 border-primary-200 shadow-sm;
    }

    &:active {
      @apply bg-secondary-100 text-secondary-700 border-secondary-200 shadow-none;
    }
  }
}