.hero {
  @apply 
    flex
    flex-col
    pt-12
    px-10
    pb-10
    
    rounded-md
    bg-primary-900
    shadow-lg
    text-white;

  @screen lg {
    @apply flex-row items-end pt-16 px-20 pb-16;
  }

  &__title {
    @apply text-xl text-center tracking-tight leading-tight font-medium;

    @screen lg {
      @apply text-2xl text-left w-3/5 tracking-normal;
    }
  }

  &__button {
    outline: unset !important;

    @apply
      relative
      flex
      justify-center
      items-center
      mt-16 
      px-6
      py-4

      bg-white
      font-bold
      rounded-sm
      no-underline
      shadow-xl
      text-black
      duration-150;
    
    &:hover,
    &:focus {
      @apply shadow-sm;
    }

    @screen lg { 
      @apply w-2/5 ml-20 mt-0;
    }

    &__icon {
      @apply absolute inset-y-auto right-0 w-auto mr-4 duration-700 transition opacity-100;

      height: 80%;

      &.--clapped {
        @apply opacity-0;
      }
    }

    &__confetti {
      // top: 50%;
      // left: 50%;

      @apply absolute;
    } 
  }
}

.--dark {
  
  .hero {
    @apply bg-secondary-800;
  }
}