.paragraph {
  @apply text-center mb-4 opacity-90 text-base font-normal;

  @screen lg {
    @apply text-left text-lg;
  }

  &.--small {
    @apply text-sm;

    @screen lg {
      @apply text-base;
    }
  }

  &.--large {
    @apply text-lg;

    @screen lg {
      @apply text-xl;
    }
  }

  &.--narrow {
    @apply mx-auto;

    @screen lg {
      @apply mx-0 w-2/3;
    }
  }
}