.nav {
  @apply flex flex-col items-center;

  @screen lg {
    @apply flex-row -mx-8 px-4;

    &__item {
      @apply px-4 h-full;

      &__link {
        @apply flex items-center py-6 h-full;
      }
    }
  }

  &__item {
    @apply text-center;
  }
}

.navFooter {
  @apply flex flex-col text-left ;

  @screen lg {
    @apply -mx-8 px-4;

    &__item {
      @apply flex flex-col px-4 h-full;

      &__link {
        @apply flex py-6 h-full;
      }

      
    }
  }

  &__item {
    @apply text-left;
  }
}