.header {
  @apply fixed bg-thfBlue top-0 inset-x-0 z-10 border-b border-gray-400 font-mono text-white;

  .container {
    @apply flex flex-initial items-center justify-between;
  }

  &__logo {
    @apply flex flex-none items-center flex-initial mr-2 text-3xl;

    @screen lg {
      @apply mr-12;
    }
  }

  &__nav {
    @apply hidden text-base;

    @screen lg {
      @apply flex flex-none;
    }
  }

  &__ticker {
    @apply relative flex-initial overflow-hidden;

    &:before,
    &:after {
      @apply absolute inset-y-0 w-12 h-full z-20;
    }

    &:before {
      content: "";
      background-image: linear-gradient(
        90deg, 
        white 70%, 
        rgba(white, 0)
      );
  
      @apply left-0;
    }

    &:after {
      
      content: "";
      background-image: linear-gradient(
        270deg, 
        white 70%, 
        rgba(white, 0)
      );
  
      @apply right-0;
    }
  }

  &__live {
    @apply flex-none flex items-center;
  }

  a {
    @apply no-underline;
  }
}

// .--dark {

//   .header {
//     @apply text-white border-white bg-thfBlue shadow-md;

//     &__ticker {

//       &:before {
//         content: "";
//         background-image: linear-gradient(
//           90deg, 
//           #1200FF 70%, 
//           rgba(#1200FF, 0)
//         );
//       }
  
//       &:after {
//         content: "";
//         background-image: linear-gradient(
//           270deg, 
//           #1200FF 70%, 
//           rgba(#1200FF, 0)
//         );
//       }
//     }
//   }
// }
