.first-impression {
  min-height: 70vh;

  @apply bg-thfBlue relative flex flex-col font-sans justify-center mb-12 text-white overflow-x-hidden pb-48 pt-64;

  &__claim {
    @apply text-center font-light leading-relaxed;

    @screen lg {
      @apply text-left w-3/4;
    }
  }

  &__icon {
    @apply w-40 my-8 mx-auto overflow-hidden;

    @screen lg {
      @apply mx-0 w-48;
    }
  }

  &__wave {
    @apply absolute bottom-0 inset-x-0 mx-auto text-white;

    @screen lg {
      max-height: theme("screens.lg");
    }

    @screen xl {
      max-height: theme("screens.xl");
    }
  }

  &::before {
    @apply bg-primary-900;
    
    background-blend-mode: soft-light;
  }
}

.--dark {

  .first-impression {

  }
  
  .first-impression.first-impression {

  }
}