.live-radio {

  &.rhap_container {
    min-width: 30px;

    @screen md {
      min-width: 130px;
    }

    @apply bg-transparent shadow-none py-4 px-0 text-primary-700;

    .rhap {

      &_additional-controls,
      &_progress-section,
      &_rewind-button,
      &_forward-button,
      &_volume-container {
        @apply hidden;
      }

      @screen md {
        &_volume-container {
          @apply flex;
        }
      }

      &_volume-bar {
        @apply bg-primary-100;
      }

      &_volume-indicator {
        @apply bg-white border border-primary-700 shadow-none;
      }

      &_button-clear {
        @apply text-primary-700;
      }

      &_controls-section {
        @apply m-0;
      }
    }
  }
}

.--dark {
  .live-radio {
    @apply text-secondary-700;

    .rhap {

      &_volume-bar {
        background-color: rgba(#f8cc76, .2);
      }
  
      &_volume-indicator {
        @apply bg-black border-secondary-400;
      }
  
      &_button-clear {
        @apply text-secondary-400;
      }
    }
  }  
}