.live-radio {

  &.rhap_container {
    min-width: 30px;

    @screen md {
      min-width: 130px;
    }

    @apply bg-transparent shadow-none py-4 px-0 text-primary-700;

    .rhap {

      &_additional-controls,
      &_progress-section,
      &_rewind-button,
      &_forward-button,
      &_volume-container {
        @apply hidden;
      }

      @screen md {
        &_volume-container {
          @apply flex;
        }
      }

      &_volume-bar {
        @apply bg-primary-100 duration-150;
      }

      &_volume-indicator {
        @apply bg-white border border-primary-700 shadow-none;
      }

      &_button-clear {
        @apply text-white duration-150;

        &:hover,
        &:focus {
          @apply text-primary-200;
        }
      }

      &_controls-section {
        @apply m-0;
      }
    }
  }
}

// .--dark {
//   .live-radio {
//     @apply text-secondary-700;

//     .rhap {

//       &_volume-container {

//         &:hover,
//         &:focus {
          
//           .rhap {

//             &_volume-bar {
//               @apply bg-secondary-200;
//             }
//           }
//         }
//       }

//       &_volume-bar {
//         background-color: rgba(#90adfe, .2);
//       }
  
//       &_volume-indicator {
//         @apply bg-black border-secondary-400;
//       }
  
//       &_button-clear {
//         @apply text-secondary-400;
//       }
//     }
//   }  
// }