.footer {
  @apply 
    pt-48
    pb-10

    bg-primary-700
    text-white;

  @screen lg {
    @apply pb-20;
  }

  .container {
    @apply flex flex-col justify-between;

    @screen lg {
      @apply flex-col-reverse;
    }
  }

  &__logo {
    @apply 
      flex 
      justify-center 
      pt-10 
      
      border-t 
      border-primary-400
      text-3xl;

    @screen lg {
      @apply border-none justify-start pt-0;
    }
  }

  &__nav {
    @apply flex flex-col text-sm mb-16;

    @screen lg {
      @apply flex-row-reverse justify-between text-base;
    }

    &__main {
    }

    &__secondary {

      @screen lg {
        @apply flex;

        a {
          @apply mr-8 py-6;
        }
      }
    }

    a {
      @apply text-center py-3 block opacity-70 duration-200;

      &:hover,
      &:focus { 
        @apply opacity-100;
      }
    }
  }

  &__credits {
    @apply w-2/3 opacity-100 font-mono my-20 mx-auto text-center;

    @screen lg {
      @apply w-3/5;
    }

    &__nls {
      @apply relative inline-block mx-2;

      &__confetti {
        top: 50%;
        left: 50%;

        @apply absolute;
      }  
    }
  }
}
