.archive {
  
  &__player {
    @apply fixed inset-x-0 bottom-0 z-50;
  }

  &__inner {
    @apply grid grid-cols-1 gap-12 mt-10;

    @screen lg {
      @apply grid-cols-3 gap-10 mt-20;
    }

    @screen xl {
      @apply grid-cols-4;
    }
  }

  &-child {
    @apply 
      flex 
      flex-row 
      items-stretch 
      overflow-hidden 

      rounded-sm
      font-mono
      bg-white
      border
      border-gray-600

      duration-200;
  
    @screen lg {
      @apply
        flex-col
        m-0
        mx-0;
    }

    &__cover {
      mix-blend-mode: unset;

      @apply flex-grow-0 relative w-1/3 p-4 h-full duration-200;

      @screen lg {
        @apply w-full;
      }

      &__icon {
        @apply 
        absolute 
        inset-0 
        w-1/2 
        m-auto 
        flex 
        items-center 
        justify-center

        opacity-0
        text-primary-900

        duration-300;
      }

      &__image {
        @apply duration-200;
      }
    }
  
    &__content {
      @apply 
        flex 
        flex-col 
        flex-grow 
        h-full 
        items-stretch 
        justify-around 
        my-6 
        w-2/3;

      @screen lg {
        @apply w-full mt-8 mb-6;
      }

      &__title {
        @apply 
          mb-6 
          px-4 
         
          text-left
          font-bold 
          tracking-tight 
          text-base
          leading-tight;
        
        @screen lg {
          @apply mb-5 px-8;
        }
      }

      &__date {
        @apply opacity-70 font-light text-left px-4;

        @screen lg {
          @apply text-center px-8;
        }
      }
    }

    &.--active,
    &:hover,
    &:focus {
      @apply border-primary-800;

      .archive {

        &-child {

          &__cover {

            &__icon {
              @apply opacity-100;
            }

            &__image {
              @apply opacity-20;
            }
          }

          &__content {
            
            &__title {
              @apply text-primary-900;
            }
          }
        }
      }
    }

    &:active {
      outline-color: theme("colors.primary.800");
    }
  }
}

.--dark {

  .archive {
    @apply text-white;

    &-child {
      @apply bg-black border-gray-800;
  
      &__cover {

        &__icon {
          @apply text-secondary-400;
        }
      }

      &.--active,
      &:hover,
      &:focus {
        @apply border-secondary-500;

        .archive {

          &-child {

            &__content {
              
              &__title {
                @apply text-secondary-400;
              }
            }
          }
        }
      }

      &:active {
        outline-color: theme("colors.secondary.800");
      }
    }
  }
}