html, body {
  @apply font-sans text-black bg-transparent m-0 p-0;
}

body {
  min-height: 100.01%;
}

main {
  @apply ;

  &.--dark {
    @apply bg-black text-white overflow-x-hidden;
  }
}

h1 {
  @apply mt-10 mb-8 text-4xl tracking-tighter font-bold leading-tight;

  @screen lg {
    @apply text-5xl tracking-tight;
  }
}

h2 {
  @apply mt-8 mb-6 text-3xl tracking-tighter font-bold leading-tight;

  @screen lg {
    @apply text-4xl tracking-tight;
  }
}

h3 {
  @apply mt-6 mb-4 text-xl tracking-tighter font-bold leading-tight;

  @screen lg {
    @apply text-2xl tracking-tight;
  }
}

h4 {
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;   
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

a {
  @apply cursor-pointer underline;

  &:hover,
  &:focus {
  }

  &:active {
  }

  &[href^=tel] {
    @apply whitespace-no-wrap;
  }
}

section {
  @apply py-12;

  @screen lg {
    @apply py-20;
  }
}